<section class="galeria">

    <div class="galeria-encabezado">
        <p class="galeria-eyebrow">Nuestros momentos</p>

        <h2>Historias que permanecen</h2>

        <p>
            Cada celebración tiene una historia única.
            Estos son algunos de los momentos que hemos creado.
        </p>
    </div>


    <div class="galeria-grid">

        <div class="galeria-item">
            <img class="galeria-imagen-1" src="" alt="">
        </div>

        <div class="galeria-item">
            <img class="galeria-imagen-2" src="" alt="">
        </div>

        <div class="galeria-item">
            <img class="galeria-imagen-3" src="" alt="">
        </div>

        <div class="galeria-item">
            <img class="galeria-imagen-4" src="" alt="">
        </div>

        <div class="galeria-item">
            <img class="galeria-imagen-5" src="" alt="">
        </div>

        <div class="galeria-item">
            <img class="galeria-imagen-6" src="" alt="">
        </div>

    </div>

</section>