@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet');


.parallax {
    /* The image used */
    background-image:url(Compromiso.jpeg);
        /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .parallax2 {
    /* The image used */
    background-image:url(CAPILLA.jpeg);
        /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax3 {
    /* The image used */
    background-image:url(MESA.jpg);
        /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  body{
    background-color: #bdac9c;
}

header{
    display: grid;
    grid-template-columns: 1fr 210px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    
    
}
header :hover{
    background-color: #bdac9c;
    color: #dddad6;
    font-weight: lighter;
}

.logo{
    width: 200px;
    grid-column: 2;
    grid-row: 1/4;
    margin: 0 auto;
}
nav{
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
    
    
}

a{
    grid-column: 3;
    margin-inline-end: 20px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Courgette";
    color: #3d2504;
    

}
#box{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 50px 1fr;
    
}

#first-img {
    width: 100%;
    height: 598px;
    grid-column: 1/1;
    grid-row: 1/4;
}

#box h1 {
    font-family: "dancing script";
    font-size: 5em;
    color: #1c1e26;
    margin: 0 auto;
    grid-column: 1/1;
    grid-row: 2/3;
    z-index: 1;
}

#hero_msg{
    width: 1300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    font-size: 1.4em;   
    font-family: "montserrat alternates";
    font-weight: 600;
    color: #1c1e26;
}


.Home-grid img{
    width: 500px;
    height: 350px;
    border: 10px solid #9d815b;
    border-radius: 500px;
    }

.Home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 130px 1fr 180px;
}
h1 {
    text-align: center;
    font-family: "Courgette";
    grid-column: 2/3;
    grid-row: 1/2;

}

.states{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
   

}
.decoration{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}
.Catering{
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
}

.link:hover {
    background-color: #fdeb37;
    padding: 40px;
    font-size: 2em;
    border-radius: 20px;
    
}

footer{
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;

    

}
footer .logo{
    grid-column: 2/3;
    margin-top: 20px;
}
footer .data{
    grid-column: 3/4;
    margin-top: 20px;
    
    
}
.data{
    color: #1c1e26;
    font-family: "montserrat alternates";
    font-style: oblique;
    font-size: 1.1em;
    font-weight: bold;
    
    
}

footer .Social{
    grid-column: 4/5;
    grid-row: 1/3;
    margin-top: 30px;
}

footer .copy{
    grid-column: 3/4;
    grid-row: 2/3;
    margin-top: 20px;
    color: #1c1e26;
    font-family: "montserrat alternates";

}