@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Montserrat+Alternates:wght@300&display=swap');


.parallax {
    /* The image used */
    background-image:url(Compromiso.jpeg);
        /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .parallax2 {
    /* The image used */
    background-image:url(CAPILLA.jpeg) ;
        /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax3 {
    /* The image used */
    background-image:url(MESA.jpg);
        /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  body{
    background-color: #bdac9c;
}

header{
    display: grid;
    grid-template-columns: 1fr 210px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    
    
}
header :hover{
    background-color: #bdac9c;
    color: #dddad6;
    font-weight: lighter;
}

.logo{
    width: 200px;
    grid-column: 2;
    grid-row: 1/4;
    margin: 0 auto;
}
nav{
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
    
    
}

a{
    grid-column: 3;
    margin-inline-end: 20px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Courgette";
    color: #3d2504;
    

}
#box{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 50px 1fr;
    
}

#first-img {
    width: 100%;
    height: 598px;
    grid-column: 1/1;
    grid-row: 1/4;
}

#box h1 {
    font-family: "dancing script";
    font-size: 5em;
    color: #1c1e26;
    margin: 0 auto;
    grid-column: 1/1;
    grid-row: 2/3;
    z-index: 1;
}

#hero_msg{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    font-size: 1.4em;   
    font-family: "montserrat alternates";
    font-weight: 600;
    color: #1c1e26;
}


.Home-grid img{
    width: 400px;
    height: 350px;
    border: 10px solid #9d815b;
    border-radius: 150px;
    }

.Home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 130px 1fr 180px;
}
h1 {
    text-align: center;
    font-family: "Courgette";
    font-weight: lighter;
    font-size: 3.5em;
    grid-column: 2/3;
    grid-row: 1/2;

}

.states{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
   

}
.decoration{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}
.Catering{
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
}

.link:hover {
    background-color: #fdeb37;
    padding: 40px;
    font-size: 2em;
    border-radius: 20px;
    
}
footer{
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
}
footer .logo{
    grid-column: 2/3;
    margin-top: 20px;
}
footer .data{
    grid-column: 3/4;
    margin-top: 20px;
}
.data{
    color: #1c1e26;
    font-family: "montserrat alternates";
    font-style: oblique;
    font-size: 1.1em;
    font-weight: bold;
    
    
}

footer .Social{
    grid-column: 4/5;
    grid-row: 1/3;
    margin-top: 30px;
}

footer .copy{
    grid-column: 3/4;
    grid-row: 2/3;
    margin-top: 20px;
    color: #1c1e26;
    font-family: "montserrat alternates";

}


.container{
    position: relative;
}
.text-block {
    position: absolute;
    left: 15px;
    top: 700px;
    right: 350px;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-block p{
    text-align: center;    
    font-size: 1.4em;   
    font-family: "montserrat alternates";
    font-weight: lighter;
  }

  .states-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .amevea img{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .amev{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    padding: 40px;
  }
  .remanso img{
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .states-grid p {
    font-family: "Courgette";
    color: #1c1e26;
    font-size: 1.6em;
    
  }

  .states-grid h2 {
    font-family: "dancing script";
    color: white;
    font-size: 3.5em;
    font-weight: 100;
    
  }
  .reman{
    margin-top: -10px;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    padding: 40px;
    
  }

  .nogales{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .nogal{
    margin-top: -50px;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    padding: 40px;
  }
  
.card-image{
    
    width: 90%;
    box-shadow: 2px 2px 2px 4px rgba(255, 255, 255, 0.842);
    animation-name: initial;
    animation-duration: 10s;
    animation-direction: normal;
}



#first{
    width: 100%;
    min-height: auto;

}
.deco-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 550px 200px 1fr 300px;
}

h2{
    font-family: "dancing script";
    font-size: 4em;
    font-weight: lighter;
    text-align: center;
    color: white;
    grid-column: 1/3;
    
    
}
.campestre img{
    grid-column: 1/2;
    grid-row: 2/3;
    height: 480px;
    margin-left: 30px;
    border-radius: 25px;
    width: 90%;
}

.rustica img{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-right: 25px;
    border-radius: 25px;
    width: 80%;
}

.text1{
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    font-family: "montserrat alternates";
    font-size: 1.5em;
    color: #1c1e26;
    font-weight: 600;

}
.dorado img{
    grid-column: 1/2;
    grid-row: 4/5;
    height: 800px;
    margin-left: 100px;
    border-radius: 25px;
}

.cake img{
    grid-column: 2/3;
    grid-row: 4/5;
    height: 800px;
    margin-left: 80px;
    border-radius: 25px;
}

.text2{
    grid-column: 1/3;
    grid-row: 5/6;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    
    font-family: "montserrat alternates";
    font-size: 1.5em;
    color: #1c1e26;
    font-weight: 600;

}


